@charset "utf-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, select, textarea {
    margin: 0;
    padding: 0;
}
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
*,*:before,*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div#root {
    width: 400px;
    margin:0 auto;
}

.red {
    color: red;
}